.Hero{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.Hero .image img{
    width: 115px;
    height: 110px;
    border-radius: 50%;
    transition: 0.5s;
}
.Hero .image img:hover{
    scale: 1.05;
}
.Hero h1{
    text-align: center;
    width: 70%;
    font-size: 4rem;
    font-weight: 500;
}
.Hero h1 span{
background: linear-gradient(to left,#DA7C25,#B923E1 );
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.Hero p{
    font-size: 1.5rem;
    width: 40%;
    text-align: center;
}   
.Hero p a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}
.Hero p a:hover{
    scale: 1.03;
    color: #adadad;
}
.Hero .btns{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}
.Hero .btns .body-btn1 a{
    cursor: pointer;
    background:linear-gradient(to right,#DA7C25,#B923E1 );
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
    text-decoration: none;
}

.Hero .btns .body-btn1 a:hover{
    scale: 1.02 ;
    background-color: transparent;
    border: 1px solid white;
    background:linear-gradient(to right,transparent,transparent); 
}

.Hero .btns .body-btn1 a{
    text-decoration: none;
    color: white;
}